.header{
    background: #fff;
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 1;
    font: {
        size: 0;
    }
    @include box-sizing(border-box);
    @include mobile{
        height: $header-height-mob;
    }

    .logo{
        display: block;
        float: left;
        width: image-width($logo);
        height: image-height($logo);
        background: image-url($logo) center center no-repeat;
        margin: 30px 0 0 10px;
        @extend .no-text;
    }

    .nav-button{
        &:before{
            content: '\f0c9';
        }
        float: left;
        margin: 35px 50px 0 50px;
        @include header-btn;
    }

    .header-search{
        float: left;
        width: calc(100% - #{$search-size});
        @include tablet{
            width: calc(100% - #{$search-size-small});
        }
        margin: 35px 10px 0 0;
        .search-field{
            position: relative;
            input{
                width: 100%;
                border: solid 1px #e7e7e7;
                background: #f7f6f6;
                height: 30px;
                line-height: 30px;
                padding: 4px 30px 4px 4px;
                color: #b2b1b1;
                font: {
                    size: 16px;
                    family: $def-font;
                }
                @include box-sizing(border-box);
                @include border-radius(3px);
                &:focus{
                    border: {
                        color: #aeabab;
                    }
                }
            }
            .send-search{
                cursor: pointer;
                position: absolute;
                height: 30px;
                top: 0;
                right: 0;
                color: #b2b1b1;
                background: transparent;
                border: 0;
                font: {
                    size: 14px;
                }
                &:before{
                    content: '\f002';
                }
            }
        }
    }

    .user-profile{
        float: right;
        @extend %clearfix;
        margin: 30px 10px 0 0;
        img{
            width: 40px;
            height: 40px;
            float: left;
            @include border-radius(100%);
        }
        .user-name{
            float: left;
            font: {
                size: 15px;
            }
            color: #8c8c8c;
            padding: 10px 0 0 10px;
        }
    }

    @include mobile{
        .logo{
            position: absolute;
            left: 50%;
            margin: 60px 0 0 -#{image-width($logo) / 2};
        }
        .nav-button{
            margin: 60px 0 0 20px;
        }
        .user-profile{
            display: none;
        }
        .header-search{
            width: auto;
            float: right;
            margin: 60px 20px 0 0;
            .search-field{
                input{
                    display: none;
                }
                .send-search{
                    @include header-btn;
                    position: static;
                    top: auto;
                    right: auto;
                }
            }
        }
    }

}