<article class="grid-item item-small js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r32.png" alt="Skyline R32">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R32</h2>
        <h3 class="item-category"><i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>

    <div class="item-social">
        <p class="review">
            <span class="review-star active"><i class="fas fa-star"></i></span>
            <span class="review-star active"><i class="fas fa-star"></i></span>
            <span class="review-star"><i class="fas fa-star"></i></span>
            <span class="review-star"><i class="fas fa-star"></i></span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-medium js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r33.png" alt="Skyline R33">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R33</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>
    
    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-small js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline.png" alt="Skyline Todos Modelos">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline Todos Modelos</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>
    
    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-large js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r34.png" alt="Skyline R34">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R34</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>
    
    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-large js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r34.png" alt="Skyline R34">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R34</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>

    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>               

<article class="grid-item item-small js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r32.png" alt="Skyline R32">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R32</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>

    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-small js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline.png" alt="Skyline Todos Modelos">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline Todos Modelos</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>

    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>

<article class="grid-item item-medium js-masonry-item js-item-scroll">

    <div class="item-image">
        <img src="Content/images/articles/skyline-r33.png" alt="Skyline R33">
    </div>

    <div class="item-details">
        <h2 class="item-title">Skyline R33</h2>
        <h3 class="item-category">
            <i class="fas fa-map-marker-alt"></i> Carros Japoneses</h3>
        <p class="item-description">Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
    </div>

    <div class="item-social">
        <p class="review">
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star active">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
            <span class="review-star">
                <i class="fas fa-star"></i>
            </span>
        </p>
        <p class="social">
            <a href="#" class="social-icon social-facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </p>
    </div>

</article>