
@mixin word-wrap($value: break-word) {
	word-break:     $value;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	hyphens:         auto;
}
%clearfix{
	&:before,
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.no-text{
    text: {
        indent: $indent;        
	}
	overflow: hidden;
	white-space: nowrap;
}

.hide-item{
	display: none;
}

.ico{
	font: {
		weight: 900;
		family: Font Awesome\ 5 Free;
		style: normal;
		variant: normal;
	}
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-rendering: auto;
    line-height: 1;
}

@mixin header-btn{
	display: block;
	width: 45px;
	height: 32px;
	border: solid 1px #e7e7e7;
	color: #bbb;
	font: {
		size: 22px;
	}
	cursor: pointer;
	@include border-radius(3px);
	@include background-image(linear-gradient(to bottom, #fff, #f5f5f5));
	&:hover{
		color: #aeabab;
		border: {
			color: #aeabab;
		}
	}
	@include mobile{
		width: 70px;
		height: 50px;
		font: {
			size: 35px;
		}
	}
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}