// Reset
 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

a {
	text-decoration: none;
	@include transition(all 0.15s ease-in);
	&:hover{
		text-decoration: none;
	}
}

input, button, textarea, select, a, img {
	outline: none;
	resize: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header, footer, nav, aside, section, article {
	display: block;
}

input[type="text"],
input[type="submit"],
input[type="button"],
input[type="email"],
input[type="password"] {
	@include appearance(none);
}

