// Global Variables
$indent: 100%;
$logo: 'logo.png';
$search-size: image-width($logo) + 410px;
$search-size-small: image-width($logo) + 346px;

// header
$header-height: 100px;
$header-height-mob: 170px;

//breakpoints
$tablet-width: 768px;
$mobile-width: 630px;


// /***** Fonts *********
// ---------------------***/
$def-font: 'Open Sans', sans-serif;
// $font-light: 300;
// $font-regular: 400;
// $font-bold: 700;
