.grid-container{
    min-height: 1000px;
    @include mobile{
        max-width: 300px;
    }
    .grid-item{
        width: 25%;
        @include tablet{
            width: 50%;
        }
        @include mobile{
            width: 100%;
        }
        padding: 0 10px;
        margin: 10px 0;
        min-height: 100px;
        @include box-sizing(border-box);

        &.item-small{
            min-height: 355px;
            .item-image{
                min-height: 147px;
            }
        }

        &.item-medium{
            min-height: 425px;
            .item-image{
                min-height: 236px;
            }
        }

        &.item-large{
            min-height: 503px;
            .item-image{
                min-height: 314px;
            }
        }
    }

    .item-image{
        img{
            width: 100%;
            display: block;
        }
    }

    

    .item-details{
        background: #fff;
        padding: 15px;
        color: #acaaaa;
    }

    .item-title{
        font: {
            size: 18px;
        }
        color: #717171;
        padding: {
            bottom: 10px;
        }
    }

    .item-category{
        font: {
            size: 14px;
        }
        padding: {
            bottom: 10px;
        }
    }
    .item-description{
        font-size: 13px;
    }

    .item-social{
        @extend %clearfix;
        background: #fff;
        padding: 10px 15px;
        border: {
            top: solid 1px #acaaaa;
        }
    }

    .review{
        float: left;
        font: {
            size: 14px;
        }
        .review-star{
            color: #ddd;
            &.active{
                color: #b9cb41;
            }
        }
    }

    .social{
        float: right;
        .social-icon{
            color: #fff;
            width: 20px;
            height: 20px;
            display: block;
            background: #d6d6d6;
            text: {
                align: center;
            }
            @include border-radius(100%);
        }
    }
}